<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Our Instagram</title>

    <link rel="stylesheet" href="css/Home/styles.css" />
    <link rel="icon" href="Resources/insta_logo.png" type="image/icon type">

</head>
<body>
<nav class="navbar">
    <!-- LOGO -->
    <img src="Resources/insta_title.png" class="title" alt="title"/>
    <ul class="nav-menu">
        <li><img itemtype="icon" src="Resources/home_blank.png" alt=""/>Home</li>
        <li><img itemtype="icon" src="Resources/search_blank.png" alt=""/>Search</li>
        <li><img itemtype="icon" src="Resources/profile_blank.png" alt=""/>Profile</li>
        <li><img itemtype="icon" src="Resources/setting_blank.png" alt=""/>Setting</li>
    </ul>
</nav>

<main>
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>