<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Our Instagram</title>
    <link rel="stylesheet" type="text/css"  href="css/Home/instagram.css">
    <link rel="stylesheet" type="text/css"  href="css/Home/color.css">
    <link rel="stylesheet" type="text/css"  href="css/Home/navbar.css">
    <link rel="stylesheet" type="text/css"  href="css/Home/loading.css">
    <link rel="stylesheet" type="text/css"  href="css/Home/scrollbar.css">
    <link rel="stylesheet" type="text/css"  href="css/Home/post_home.css">
    <link rel="stylesheet" type="text/css"  href="css/Home/create_post.css">
                                                     
    <link rel="icon" href="Resources/insta_logo.png" type="image/icon type">

</head>
<body>
<div class="navbarDiv">
    <div class="Dashboard_navBar">
        <div class="Dashboard_navBar-Logo">
            <img src="Resources/insta_title.png" class = "logo-primary">
            <img src="Resources/insta_logo_frame.png" class="logo-secondary">
        </div>
        <div class="Dashboard_navBar-functions">
            <a class="functionDiv" href="/home">
                <div class="aFuntion">
                    <div class="logo-funtion">
                        <img src="Resources/house-solid.svg" class="img_function">
                    </div>
                    <p class="aFuntion_name pageLoading">Home</p>
                </div>
            </a>
            <div class="aFuntion search">
                <div class="logo-funtion">
                    <img src="Resources/magnifying-glass-solid.svg" class="img_function">
                </div>
                <p class="aFuntion_name">Search</p>
            </div>
            <a class="functionDiv" href="/commingSoon">
                <div class="aFuntion">
                    <div class="logo-funtion">
                        <img src="Resources/compass-regular.svg" class="img_function">
                    </div>
                    <p class="aFuntion_name">Explore</p>
                </div>
            </a>
            <a class="functionDiv" href="/commingSoon">
                <div class="aFuntion">
                    <div class="logo-funtion">
                        <img src="Resources/instagram-reels-icon.png" class="img_function">
                    </div>
                    <p class="aFuntion_name">Reels</p>
                </div>
            </a>
            <a class="functionDiv" href="/message">
                <div class="aFuntion">
                    <div class="logo-funtion">
                        <img src="Resources/messenger.png" class="img_function">
                    </div>
                    <p class="aFuntion_name">Messages</p>
                </div>
            </a>
            <div class="aFuntion notification">
                <div class="logo-funtion">
                    <img src="Resources/heart.png" class="img_function">
                </div>
                <p class="aFuntion_name">Notifications</p>
            </div>
            <div class="aFuntion">
                <div class="logo-funtion">
                    <img src="Resources/more.png" class="img_function">
                </div>
                <p class="aFuntion_name">Create</p>
            </div>
            <a class="functionDiv toProfile" href="/">
                <div class="aFuntion">
                    <div class="logo-funtion avatarDiv">
                        <img src="" class="img_function avatar">
                    </div>
                    <p class="aFuntion_name">Profile</p>
                </div>
            </a>
        </div>
        <div class="Dashboard_navBar-more">
            <div class="logo-funtion">
                <img src="Resources/icon_burger.png" class="img_more">
            </div>
            <p class="more_text">More</p>
            <div class="moreClicked hideMenu">
                <div class="moreSide firstSide">
                    <a class="aFunctionsInSide" href="/edit">
                        <p class="functionName">Setting</p>
                        <img src="Resources/settings.png" class="iconFunction">
                    </a>
                    <div class="aFunctionsInSide">
                        <p class="functionName">Saved</p>
                        <img src="Resources/bookmark.png" class="iconFunction">
                    </div>
                    <div class="aFunctionsInSide">
                        <p class="functionName">Switch appearance</p>
                        <img src="Resources/moon.png" class="iconFunction">
                    </div>
                    <div class="aFunctionsInSide">
                        <p class="functionName">Your activities</p>
                        <img src="Resources/time.png" class="iconFunction">
                    </div>
                    <div class="aFunctionsInSide">
                        <p class="functionName">Report a problem</p>
                        <img src="Resources/report.png" class="iconFunction">
                    </div>

                </div>
                <div class="moreSide secondSide">
                    <a class="aFunctionsInSide" href="/login">
                        <p class="functionName">Switch Account</p>
                    </a>
                    <a class="aFunctionsInSide" href="/login">
                        <p class="functionName">Log out</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="searchPane hideSearch">
        <div class="searchDiv">
            <p class="searchText">Search</p>
            <input type="text" placeholder="Search" class="searchInput">
        </div>
        <div class="searchRecentAndResult">
            <div class="recentSearch showMenu" >
                <p class="recentText">Recent</p>
                <div class="resultRecent">

                </div>
            </div>
            <div class="resultSearch hideMenu">

            </div>                    
        </div>

    </div>
    <div class="notificationPane hide">
        <div class="headerNotification">
            <p class="headerTextNotification">Notifications</p>
        </div>
        <div class="listNotification">

        </div>
    </div>
</div>

<main>
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>