<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Our Instagram</title>
    
    <link rel="icon" href="~/Resources/insta_logo.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="~/css/NavBar/color.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Login/navbar.css"/>

    @await RenderSectionAsync("Stylesheets", false)
</head>
<body>

@* <div class="navbar"> *@
@*     <div class="section_logo"> *@
@*         <img class="title" alt="Instagram Title" src="~/Resources/insta_title.png"/> *@
@*         $1$ <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/> #1# *@
@*     </div> *@
@*     <div class="section_function"> *@
@*         <input type="button" id="login" class="btn btn_login"/> *@
@*         <label for="login" class="navbar_label_login">Log in</label> *@
@*         <input type="button" id="signup" class="btn btn_signup"/> *@
@*         <label for="signup" class="navbar_label_signup">Sign up</label> *@
@*     </div> *@
@* </div> *@

@RenderBody()

@await RenderSectionAsync("Scripts", false)
</body>
</html>