<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Pinsta</title>
    
    <link rel="icon" href="~/Resources/insta_logo.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="~/css/NavBar/color.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Login/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Login/landing_page.css"/>

    @await RenderSectionAsync("Stylesheets", false)
</head>
<body>

@RenderBody()

@await RenderSectionAsync("Scripts", false)
</body>
</html>