<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Our Instagram</title>

    <link rel="stylesheet" type="text/css"  href="css/Hieu_NavBar/color.css"/>
    <link rel="stylesheet" type="text/css"  href="css/Hieu_NavBar/mystyles.css"/>
    
    <script src="js/Hieu_NavBar/search.js" defer></script>
</head>
<body>
<div class="navbar">
    <div class="main_panel">
        <div class="section_logo">
            <img class="title" alt="Instagram Title" src="Resources/insta_title.png"/>
            <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/>
        </div>
        
        <div class="section_function">
            @* Home *@
            <a class="no_underline function" asp-area="" asp-controller="NavBar" asp-action="ToHome">
                <img alt="Home Icon" src="Resources/home_fill.png" class="function_img">
                <p class="function_name current_function">Home</p>
            </a>
            @* Search *@
            <div class="function search">
                <img alt="Search Icon" src="Resources/search_blank.png" class="function_img">
                <p class="function_name">Search</p>
            </div>
            @* Explore *@
            <a class="no_underline function" asp-area="" asp-controller="NavBar" asp-action="ToExplore">
                <img alt="Explore Icon" src="Resources/reel_blank.png" class="function_img">
                <p class="function_name">Explore</p>
            </a>
            @* Message *@
            <div class="function">
                <img alt="Search Icon" src="Resources/messenger.png" class="function_img">
                <p class="function_name">Message</p>
            </div>
            @* Notification *@
            <div class="function">
                <img alt="Notification Icon" src="Resources/heart.png" class="function_img">
                <p class="function_name">Notification</p>
            </div>
            @* Create *@
            <div class="function">
                <img alt="Create Icon" src="Resources/plus.png" class="function_img">
                <p class="function_name">Create</p>
            </div>
            @* Profile *@
            <a class="no_underline function" asp-area="" asp-controller="NavBar" asp-action="ToProfile">
                <img alt="Profile Icon" src="Resources/default_ava.png" class="function_img">
                <p class="function_name">Profile</p>
            </a>
        </div>
        
        @* Section 'More' *@
        <div class="function section_more">
            <img alt="More Icon" src="Resources/icon_burger.png" class="function_img">
            <p class="function_name">More</p>
        </div>
    </div>
    
    <div class="search_panel hide" name="sub_panel">
        <div class="section_search">
            <p class="search_text">Search</p>
            <input type="text" placeholder="Search" class="search_input">
        </div>
        <div class="section_result">
            <div class="recent_search show" >
                <p class="recent_text">Recent</p>
                <div class="recent_result"></div>
            </div>
            <div class="result_search hide"></div> 
        </div>
    </div>

    <div class="notify_panel hide" name="sub_panel">
        
    </div>
</div>
    
<main>
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>