@model List<Pinsta.Models.Entities.User>

<div class="follower_panel">
    <div class="follow_popup">
        <div class="follow_header">
            <p class="follow_title">Followers</p>
            <img alt="Close" src="~/Resources/close.png" class="close_img" onclick="closeFollowPopup()"/>
        </div>
        <div class="follow_list">
        
            @foreach (var item in Model)
            {
                <a class="recent_item" href="@Url.Action("Index", "Profile", new { item.username })">
                    <div class="info">
                        <img class="avatar" src="@item.avatarPath" alt=""/>
                        <label class="name">@item.username</label>
                    </div>
                    <input type="button" id="follow" class="btn_follow"/>
                    @{
                        if (Pinsta.Models.Entities.User.currentUser.followings.Contains(item))
                        {
                            <label for="follow" class="label_follow show">Following</label>
                            <label for="follow" class="label_unfollow hide">Follow</label>
                        }
                        else
                        {
                            <label for="follow" class="label_follow hide">Following</label>
                            <label for="follow" class="label_unfollow show">Follow</label>
                        }
                    }  
                </a>
            }
        </div>
    </div>
</div>