/*some css*/
.avatar {
    width: 9em;
    height: 9em;
    border-radius: 100%;
    border: 1px solid #fff;
    box-shadow: red 0px 2px 8px 0px;
}

h1, h4, a {
    color: #fff;
}

.home {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 16px 16px 291px;
}

.home .homepage_container {
    position: relative;
    width: 100%;
    display: flex;
    gap: 16px;
    margin-top: 80%;
    border-top: 1px solid;
}

.home .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 5%;
}

.home .post {
    position: relative;
    overflow: hidden;
    /* background: #131313; */
    border-radius: 26px;
}

.home img {
    width: 100%;
    filter: grayscale(50%);
}

.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.home .post:hover .overlay {
    opacity: 0.6;
    cursor: pointer;
}
