body {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    width: 15vw;
    height: 100vh;
    position: fixed;
    background-color: skyblue;
    flex-direction: column;
}

.title {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.nav-menu {
    margin: auto 10px;
}
li {
    text-align: start;
    list-style: none;
    font-size: 1.5rem;
    padding: 20px 0;
}
li > * {
    margin: 0 10px;
}
img[itemtype="icon"] {
    width: 1.5rem;
    vertical-align: middle;
}