@{
    Layout = "_LoginNavbar";
    ViewData["Title"] = "Login";
}

@section Stylesheets
{
    <link rel="stylesheet" type="text/css" href="css/Nguyen_Login/styles.css"/>
    <link rel="stylesheet" type="text/css" href="lib/fullpage/dist/fullpage.css"/>
}
@section Scripts 
{
    <script type="text/javascript" src="lib/fullpage/dist/fullpage.js"></script>
    <script type="text/javascript" src="js/Nguyen_Login/index.js"></script>
}

<div id="fullpage">
    <div class="section">
        <div class="section_title">
            <div class="title_head">
                Get your next
            </div>
            <div class="title_tail color1 show">weeknight dinner idea</div>
            <div class="title_tail color2 hide">home decor idea</div>
            <div class="title_tail color3 hide">new look outfit</div>
            <div class="title_tail color4 hide">green thumb idea</div>
        </div>
        <div class="section_image">
            <div class="column1">
                <img alt="Image" src="" class="column_image image1 show"/>
                <img alt="Image" src="" class="column_image image7 hide"/>
            </div>
            <div class="column2">
                <img alt="Image" src="" class="column_image image2 show"/>
                <img alt="Image" src="" class="column_image image8 hide"/>
            </div>
            <div class="column3">
                <img alt="Image" src="" class="column_image image3 show"/>
                <img alt="Image" src="" class="column_image image9 hide"/>
            </div>
            <div class="column4">
                <img alt="Image" src="" class="column_image image4 show"/>
                <img alt="Image" src="" class="column_image image0 hide"/>
            </div>
            <div class="column5">
                <img alt="Image" src="" class="column_image image5 show"/>
                <img alt="Image" src="" class="column_image image6 hide"/>
            </div>
        </div>
    </div>
    <div class="section">Section 2</div>
    <div class="section">Section 3</div>
    <div class="section active">
        <div class="login-section">
            <div class="login-box hide_panel">
                <div class="login_logo">
                    <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/>
                    <p class="title">Welcome To Instagram</p>
                </div>
                <form class="login-form">
                    <label for="email">Email</label>
                    <input class="btn_email" id="email" type="email" placeholder="Email"/>
                    <label for="password">Password</label>
                    <input class="btn_password" id="password" type="password" placeholder="Password"/>
                    <a asp-area="" asp-controller="" asp-action="" class="forgot_password">Forgot your password?</a>
                    <input class="btn_submit" type="submit" value="Log in"/>
                </form>
                <p class="or">OR</p>
                <div class="login_with_facebook">
                    <img class="facebook_logo" src="Resources/facebook.png" alt="Facebook Logo"/>
                    <span class="facebook_login">Continue with facebook</span>
                </div>
                <p class="to_signup">Not on Instagram yet? Sign up</p>
            </div>

            <div class="signup-box show_panel">
                <div class="login_logo">
                    <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/>
                    <p class="title">Welcome To Instagram</p>
                </div>
                <form class="signup-form">
                    <label for="firstName">First Name</label>
                    <input class="btn_name" id="firstName" type="text" placeholder="First Name"/>
                    <label for="lastName">Last Name</label>
                    <input class="btn_name" id="lastName" type="text" placeholder="Last Name"/>
                    <label for="signup_email">Email</label>
                    <input class="btn_email" id="signup_email" type="email" placeholder="Email"/>
                    <label for="signup_password">Password</label>
                    <input class="btn_password" id="signup_password" type="password" placeholder="Password"/>
                    <label for="confirm_password">Confirm password</label>
                    <input class="btn_password" id="confirm_password" type="password" placeholder="Password"/>
                    <input class="btn_submit" type="submit" value="Sign up"/>
                </form>
                <p class="or">OR</p>
                <div class="login_with_facebook">
                    <img class="facebook_logo" src="Resources/facebook.png" alt="Facebook Logo"/>
                    <span class="facebook_login">Continue with facebook</span>
                </div>
                <p class="to_login">Already a member? Login</p>
            </div>
        </div>
    </div>
</div>

