@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Login/main.css"/>
    <link rel="stylesheet" href="css/Login/phone.css"/>
    <link rel="stylesheet" href="css/Login/login.css"/>
    <link rel="stylesheet" href="css/Login/signup.css"/>
    <link rel="stylesheet" href="css/Login/download.css"/>
    <title>@ViewData["Title"] - Our Instagram</title>
</head>
<body>
<main>
    <section class="mobile-phone-section">
        <div class="first-phone">
            <img src="Resources/screenshot3.png" alt="" class="screen behind phone">
            <img src="Resources/phone_frame1.png" alt="" class="behind phone">
        </div>
        <div class="second-phone">
            @{
                
            }
            <img src="Resources/login_pic1.png" alt="" class="screen front phone refresh active">
            <img src="Resources/screenshot2.png" alt="" class="screen front phone refresh">
            <img src="Resources/screenshot3.png" alt="" class="screen front phone refresh">
            <img src="Resources/screenshot4.png" alt="" class="screen front phone refresh">
            <img src="Resources/phone_frame2.png" alt="" class="front phone">
        </div>
    </section>
    <section class="login-section">
        <form class="login-form" asp-action="Login" asp-controller="Login">
            <fieldset class="manual-login">
                <img src="Resources/insta_title.png" alt="" class="img-insta-title"/>
                <div class="username-password">
                    <input class="username" type="text" name="username" id="username" placeholder="Username" required>
                    <input class="password" type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <input class="submit-login" type="submit" value="Log in">
                <p class="login-result"></p>
            </fieldset>
            <div class="other-options">
                <p class="divider-options">OR</p>
            </div>
            <div class="other-login-methods">
                <a class="login-with-facebook" asp-action="LoginWithFacebook" asp-controller="Login">
                    <img class="facebook-logo" src="Resources/facebooklogo.png" alt="">
                    <span class="text-login-facebook">Log in with Facebook</span>
                </a>
                <a href="" class="forgot-password">Forgot password?</a>
            </div>
        </form>
        <form class="signup-form" asp-action="Signup" asp-controller="Login">
            <p class="signup-text">Don't have an account?</p>
            <input type="submit" value="Sign up" class="signup-link">
        </form>
        <div class="download-insta">
            <p class="get-the-app-text"><strong>Get the app</strong></p>
            <div class="get-the-app-link">
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android" class="ggplay-download-link">
                    <img src="Resources/navigate_ggplay.png" alt="" class="ggplay-navigate">
                </a>
                <a href="ms-windows-store://pdp/?productid=9nblggh5l9xt&referrer=appbadge&source=www.instagram.com&mode=mini&pos=0%2C0%2C1728%2C925" class="microsoft-download-link">
                    <img src="Resources/navigate_microsoft.png" alt="" class="microsoft-navigate">
                </a>
            </div>
        </div>
    </section>
</main>
</body>
</html>