@model OurInstagram.Models.Login.LoginModel
@{
    Layout = "_LoginNavbar";
    ViewData["Title"] = "Login";
}

@section Stylesheets
{
    <link rel="stylesheet" type="text/css" href="~/css/Login/styles.css"/>
    <link rel="stylesheet" type="text/css" href="~/lib/fullpage/dist/fullpage.css"/>
}
@section Scripts
{
    <script type="text/javascript" src="~/lib/fullpage/dist/fullpage.js"></script>
    <script type="text/javascript" src="~/js/Login/index.js"></script>
    <script type="text/javascript" src="~/js/Login/popup.js"></script>
    <script>
        document.addEventListener("click", e => {
            if (!signupPopup.contains(e.target) && !loginPopup.contains(e.target) && !btnLogin.contains(e.target) && !btnSignup.contains(e.target)) {
                closePopup();
                @{ ViewData.ModelState.Clear(); }
            }
        });
    </script>
}

<div id="fullpage" class="main">
    <div class="section">
        @{ await Html.RenderPartialAsync("LandingPage"); }
    </div>
    <div class="section">
        <p class="section2_text">Hình ảnh minh hoạ (sẽ có trong tương lai)</p>
        @* Nguyên làm hộ tớ cái này *@
    </div>
    <div class="section">
        <div class="login-section">
            <div class="login-box @(ViewData.ModelState.ContainsKey("Login Error") ? "hide_panel" : "show_panel")">
                @{ await Html.RenderPartialAsync("LoginForm"); }
                <p class="to_signup">Not on Instagram yet? Sign up</p>
            </div>

            <div class="signup-box @(ViewData.ModelState.ContainsKey("Signup Error") ? "show_panel" : "hide_panel")">
                @{ await Html.RenderPartialAsync("SignupForm"); }
                <p class="to_login">Already a member? Login</p>
            </div>
        </div>
    </div>
</div>

@* LOGIN POPUP *@
<div class="panel_login @(ViewData.ModelState.ContainsKey("Login Error") ? "show_popup" : "")">
    <div class="login-section">
        <div class="login-box login_popup">
            @{ await Html.RenderPartialAsync("LoginForm"); }
        </div>
    </div>
</div>

@* SIGNUP POPUP *@
<div class="panel_signup @(ViewData.ModelState.ContainsKey("Signup Error") ? "show_popup" : "")">
    <div class="login-section">
        <div class="signup-box signup_popup">
            @{ await Html.RenderPartialAsync("SignupForm"); }
        </div>
    </div>
</div>
