<div class="navbar">
    <div class="section_logo">
        <img class="title" alt="Instagram Title" src="~/Resources/insta_title.png"/>
        @* <img class="logo" alt="Instagram Logo" src="Resources/insta_logo_frame.png"/> *@
    </div>
    <div class="section_function">
        <input type="button" id="login" class="btn btn_login"/>
        <label for="login" class="navbar_label_login">Log in</label>
        <input type="button" id="signup" class="btn btn_signup"/>
        <label for="signup" class="navbar_label_signup">Sign up</label>
    </div>
</div>
<div class="section_title">
    <div class="title_head">
        Get your next
    </div>
    <div class="title_tail color1 show">weeknight dinner idea</div>
    <div class="title_tail color2 hide">home decor idea</div>
    <div class="title_tail color3 hide">new look outfit</div>
    <div class="title_tail color4 hide">green thumb idea</div>
</div>
<div class="section_image">
    <div class="column1">
        <img alt="Image" src="" class="column_image image1 show"/>
        <img alt="Image" src="" class="column_image image7 hide"/>
    </div>
    <div class="column2">
        <img alt="Image" src="" class="column_image image2 show"/>
        <img alt="Image" src="" class="column_image image8 hide"/>
    </div>
    <div class="column3">
        <img alt="Image" src="" class="column_image image3 show"/>
        <img alt="Image" src="" class="column_image image9 hide"/>
    </div>
    <div class="column4">
        <img alt="Image" src="" class="column_image image4 show"/>
        <img alt="Image" src="" class="column_image image0 hide"/>
    </div>
    <div class="column5">
        <img alt="Image" src="" class="column_image image5 show"/>
        <img alt="Image" src="" class="column_image image6 hide"/>
    </div>
</div>