@{
    ViewData["Title"] = "Home";
    Layout = "_Navbar";
}

@section Stylesheets
{ 
    <link rel="stylesheet" type="text/css"  href="~/css/Hiep_Home/styles.css"/>
}
@section Scripts
{ 
    <script src="~/js/Hiep_Home/index.js"></script>
}
@* Đây là body *@
<main class="home">
    <div class="homepage_container"></div>
</main>
