@using Newtonsoft.Json
@model List<OurInstagram.Models.Entities.Image>
@{
    ViewData["Title"] = "Home";
    Layout = "_MainNavbar";
}

@section Stylesheets
{ 
    <link rel="stylesheet" type="text/css"  href="~/css/Home/styles.css"/>
}
@section Scripts
{ 
    <script src="~/js/Home/index.js"></script>
    <script>
        let imageArray = @Html.Raw(JsonConvert.SerializeObject(Model));
        loadingImages(imageArray);
    </script>
}
<main class="home">
    <div class="homepage_container"></div>
</main>
