.login-section, .login-form, .manual-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-section{
    width: 350px;
    height: 100%;
}
.login-form {
    position: relative;
    width: 100%;
    height: 59%;
    background-color: var(--Color1);
    border: 1px solid var(--Color3);
}
fieldset {
    border: none;
}
.manual-login {
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}
.img-insta-title {
    width: 190px;
    margin: 30px;
}
.username-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.username, .password, .submit-login {
    font-size: 1.3vh;
    height: 35px;
    width: 70%;
    background-color: var(--Color4);
    border-radius: 3px;
    border: 1px solid var(--Color3);
    margin-bottom: 10px;
    padding: 0 3%;
    outline: none;
    transition-duration: 0.2s;
}
.username-login:focus, .password-login:focus{
    border: 1px solid var(--Color5);
}
.submit-login {
    height: 35px;
    width: 78%;
    background-color: var(--button2);
    border-radius: 10px ;
    margin: 0;
    color: var(--Color1);
    font-weight: bold;
}
.submit-login:hover {
    cursor: pointer;
}
.login-result {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.2vh;
    color: var(--noti1);
    background-color: var(--Color2);
    border-radius: 10px;
    height: 30px;
    width: 100%;
}
.other-options {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--Color5);
    font-weight: 600;
    font-size: 1.4vh;
}
.other-options::after, .other-options::before{
    content: '';
    position: absolute;
    width: 100px;
    border-top: 2px solid var(--Color3);
    top: 50%;
    right: 15%;
}
.other-options::after {
    left: 15%
}
.divider-options {
    
}
.other-login-methods {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login-with-facebook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: unset;
    border: none;
}
.login-with-facebook:hover {
    cursor: pointer;
}
.facebook-logo {
    max-width: 15px;
    margin-right: 5px;
}
.text-login-facebook {
    font-size: 1.6vh;
    font-weight: 500;
    color: var(--ColorFacebook);
}
.forgot-password {
    color: var(--ColorFacebook);
    text-decoration: none;
    font-size: 1.2vh;
}