.signup-form{
    margin-top: 10px;
    height: 9%;
    width: 100%;
    position: relative;
    background-color: var(--Color1);
    border: 1px solid var(--Color3);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5vh;
}
.signup-text{
    display: flex;
    align-items: center;
}
.signup-link{
    border: none;
    background-color: var(--Color1);
    margin-left: 1px;
    color: var(--button2);
    font-weight: bold;
}
.signup-link:hover {
    cursor: pointer;
}