<div class="function section_more">
    <img alt="More Icon" src="~/Resources/burger.png" class="function_img">
    <p class="function_name" id="More">More</p>
    <div class="more_menu hide">
        <div class="more_first_part">
            <div class="sub_function">
                <p class="sub_function_name">Settings</p>
                <img alt="Settings Icon" src="~/Resources/setting_blank.png" class="sub_function_img"/>
            </div>
            <div class="sub_function">
                <p class="sub_function_name">Saved</p>
                <img alt="Settings Icon" src="~/Resources/bookmark_blank.png" class="sub_function_img"/>
            </div>
            <div class="sub_function">
                <p class="sub_function_name">Switch Appearance</p>
                <img alt="Settings Icon" src="~/Resources/moon.png" class="sub_function_img"/>
            </div>
            <div class="sub_function">
                <p class="sub_function_name">Your Activities</p>
                <img alt="Settings Icon" src="~/Resources/time.png" class="sub_function_img"/>
            </div>
            <div class="sub_function">
                <p class="sub_function_name">Report A Problem</p>
                <img alt="Settings Icon" src="~/Resources/report.png" class="sub_function_img"/>
            </div>
        </div>
        <div class="more_second_part">
            <a class="no_underline sub_function" asp-area="" asp-controller="Login" asp-action="Index">
                <p class="sub_function_name">Switch Account</p>
            </a>
            <a class="no_underline sub_function" asp-area="" asp-controller="Login" asp-action="Index">
                <p class="sub_function_name">Log Out</p>
            </a>
        </div>
    </div>
</div>