<div class="search_panel hide">
    <div class="sub_panel_header search_header">
        <p class="sub_panel_title">Search</p>
        <input type="text" placeholder="Search" class="search_input">
    </div>
    <div class="section_result">
        <div class="recent_search show" >
            <p class="sub_panel_title">Recent</p>
            <div class="recent_result"></div>
        </div>
        <div class="result_search hide"></div> 
    </div>
</div>