<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">

<div class="create_panel">
    <div class="create_popup show_upload">
        <div class="create_header">
            <p class="create_title">Upload new image</p>
            <img alt="Close" src="~/Resources/close.png" class="close_img"/>
        </div>
        <div class="create_content show_upload">
            <img alt="Create" src="~/Resources/image.png" class="upload_img"/>
            <p class="upload_text">Upload an image to create new post</p>
            <input type="file" id="file" accept="image/png, image/jpg, image/jpeg" class="input_img" required/>
            <label for="file" class="input_button">Choose an image</label>
        </div>
        <div class="display_section hide_upload">
            <div class="display_image"></div>
            <div class="action_section">
                <input type="button" id="edit" class="btn_edit" onclick="toEditPanel()"/>
                <label for="edit" class="label_edit">Edit</label>
                <input type="button" id="cancel" class="btn_cancel"/>
                <label for="cancel" class="label_cancel">Cancel</label>
            </div>
        </div>
    </div>

    <div class="edit_popup hide_upload">
        <div class="wrapper">
            <div class="editor-panel">
                <div class="filter">
                    <label class="title">Filters</label>
                    <div class="options">
                        <button id="brightness" class="active">Brightness</button>
                        <button id="saturation">Saturation</button>
                        <button id="inversion">Inversion</button>
                        <button id="grayscale">Grayscale</button>
                    </div>
                    <div class="slider">
                        <div class="filter-info">
                            <p class="name">Brighteness</p>
                            <p class="value">100%</p>
                        </div>
                        <input type="range" value="100" min="0" max="200">
                    </div>
                </div>
                <div class="rotate">
                    <label class="title">Rotate & Flip</label>
                    <div class="options">
                        <button id="left">
                            <i class="fa-solid fa-rotate-left"></i>
                        </button>
                        <button id="right">
                            <i class="fa-solid fa-rotate-right"></i>
                        </button>
                        <button id="horizontal">
                            <i class='bx bx-reflect-vertical'></i>
                        </button>
                        <button id="vertical">
                            <i class='bx bx-reflect-horizontal'></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="preview-img">
                <img src="" alt="preview-img">
            </div>
        </div>
        <div class="controls">
            <button class="reset-filter label_cancel">Reset Filters</button>
            @* <input type="button" id="reset" class="reset-filter"/> *@
            @* <label for="reset" class="label_cancel">Reset Filters</label> *@
            <div class="row">
                <input type="button" id="upload" class="btn_upload" onclick="saveImage()"/>
                <label for="upload" class="label_upload">Upload</label>
                <input type="button" id="cancel" class="btn_cancel"/>
                <label for="cancel" class="label_cancel">Cancel</label>
            </div>
        </div>
    </div>
    
    <script src="~/js/NavBar/edit.js"></script>
    <script src="~/js/NavBar/create.js" defer></script>
</div>