<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">

<div class="create_panel">
    <div class="create_popup">
        <div class="create_header">
            <p class="create_title">Upload new image</p>
            <img alt="Close" src="~/Resources/close.png" class="close_img"/>
        </div>
        <div class="create_content show_upload">
            <img alt="Create" src="~/Resources/image.png" class="upload_img"/>
            <p class="upload_text">Upload an image to create new post</p>
            <input type="file" id="file" accept="image/*" class="input_img" required/>
            <label for="file" class="input_button">Choose an image</label>
        </div>
        <div class="display_section hide_upload">
            <div class="display_image"></div>
            <div class="action_section">
                <input type="button" id="edit" class="btn_edit" onclick="toEditPanel()"/>
                <label for="edit" class="label_edit">Edit</label>
                <input type="button" id="cancel" class="btn_cancel"/>
                <label for="cancel" class="label_cancel">Cancel</label>
            </div>
        </div>
    </div>
</div>