/*some css*/

* {
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
    /*font-family: "supply", serif;*/
    /*color: rgb(255, 255, 255);*/
    /*!* font-weight: 400; *!*/
    /*text-transform: uppercase;*/
}

html,
body {
    /*overflow: hidden;*/
    /* background-color: rgb(0, 0, 0); */
}

.home main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    margin-left: 275px;
    overflow-x: scroll;
}

.home .homepage_container {
    position: relative;
    width: 100%;
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.home .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.home .post {
    position: relative;
    overflow: hidden;
    /* background: #131313; */
    border-radius: 26px;
}

.home img {
    width: 100%;
    filter: grayscale(50%);
}

.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.home .post:hover .overlay {
    opacity: 0.6;
    cursor: pointer;
}
  