.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--Color1);
    border-bottom: 1px solid var(--Color3);
    /*padding: 16px;*/
}
.section_logo {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.title {
    padding: 16px;
    height: 70%;
}
.section_function {
    position: relative;
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-right: 16px;
}
.btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.navbar_label_login {
    white-space: nowrap;
    display: inline-block;
    background-color: indianred;
    color: var(--button1);
    border-radius: 50px;
    padding: 15px;
    font-size: 1.8vh;
    font-weight: bold;
    user-select: none;
}
.navbar_label_login:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: darkred;
}
.navbar_label_signup {
    white-space: nowrap;
    display: inline-block;
    background-color: var(--Color3);
    color: var(--text1);
    border-radius: 50px;
    padding: 15px;
    font-size: 1.8vh;
    font-weight: bold;
    user-select: none;
}
.navbar_label_signup:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #8a8a8a;
}
.fp-watermark, .fp-warning {
    display: none;
}