.navbar {
    position: fixed;
    height: 100vh;
    width: fit-content;
    z-index: 1;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: row;
}
/************************************ MAIN ************************************/
.main_panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 12px;
    background-color: var(--Color1);
    border-right: 1px solid var(--Color3);
    width: 250px;
}
.section_logo {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title {
    padding: 10px;
    width: 80%;
}
.logo {
    display: block;
    width: 20%;
}

.section_function {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.no_underline {
    text-decoration: none;
    width: 100%;
    color: var(--text1);
}
.function {
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s;
    position: relative;
    user-select: none;
}
.function_logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 35px;
    width: 25px;
    transition: 0.2s;
}
.function_img {
    height: 25px;
    width: 25px;
    transition: 0.2s;
}
.function_name {
    margin-left: 15px;
}
.current_function {
    font-weight: bold;
}
.function:hover {
    cursor: pointer;
}
.function:hover, .function_logo {
    transform: scale(1.05);
}

/************************************ SEARCH + NOTIFY ************************************/
.search_panel, .message_panel, .notify_panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 350px;
    background-color: var(--Color1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 0 20px var(--Color3);
    z-index: 0;
    /*animation: ease-in-out 0.5s;*/
    /*transition: transform 0.5s, left 0.5s;*/
}
.sub_panel_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    border-bottom: 1px solid var(--Color3);
}
.search_header {
    height: 18%;
}
.message_header, .notify_header {
    height: 10%;
}
.sub_panel_title, .search_input {
    padding: 0 20px;
}
.sub_panel_title {
    margin-top: 20px;
    height: 40px;
    font-size: 2.7vh;
    font-weight: 500;
}
.search_input {
    margin: 10px 15px;
    width: 80%;
    height: 40px;

    border: 1px solid var(--Color2);
    background-color: var(--Color4);
    border-radius: 10px;
}
.search_input:focus {
    outline: none;
}
.search_input::-webkit-search-cancel-button {
    margin-left: 10px;
    background-image: url("../../Resources/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px;
    cursor: pointer;
}
.search_input::placeholder {
    color: var(--Color3);
    font-size: 2vh;
    font-weight: 100;
}
.section_result {
    height: 87%;
    width: 100%;
}
.recent_search, .result_search{
    width: 100%;
    height: 100%;
}
.show {
    display: block;
}
.hide {
    display: none;
    animation: fade 0.2s;
}

.notify_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-y: auto;
}


/************************************ MORE ************************************/
.section_more {
    height: 10%;
}
.more_menu {
    position: absolute;
    height: 300px;
    width: fit-content;
    /*background-color: var(--Color2);*/
    border-radius: 10px;

    top: 0;
    transform: translate(0, -97%);
}
.more_first_part, .more_second_part {
    background-color: var(--Color1);
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    height: fit-content;
    width: 230px;
    box-shadow: 0 0 20px var(--Color3);
}
.more_first_part {
    margin-bottom: 3px;
}
.more_second_part {

}
.sub_function {
    position: relative;
    border-bottom: 1px solid var(--Color3);
    transition-duration: 0.2s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: var(--text1);
}
.sub_function:hover {
    background-color: var(--Color3);
}
.sub_function:hover .sub_function_img {
    transform: scale(1.05) rotate(180deg);
}
.sub_function_name {
    height: 20px;
    display: flex;
    align-items: center;
}
.sub_function_img {
    height: 22px;
    transition-duration: 0.5s;
}

/************************************ CREATE ************************************/
.blur {
    overflow: hidden;
    transition:  0.2s;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.create_panel, .image_details_panel {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create_popup, .image_popup {
    opacity: 0;
    overflow: hidden;
    background-color: var(--Color1);
    box-shadow: 0 0 20px var(--Color3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}
.show_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition: all 0.9s;
}
.show_popup .create_popup {
    min-width: 50%;
    margin: auto;
    width: 30%;
    height: 80%;
    opacity: 1;
}
.create_header {
    min-width: 50%;
    width: 100%;
    height: 8%;
    border-bottom: 1px solid var(--text1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_title {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: var(--text1);
    font-size: 2vh;
    font-weight: 500;
    user-select: none;
}
.close_img {
    right: 15px;
    position: absolute;
    height: 30%;
}
.close_img:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.create_content {
    height: 85%;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.upload_img {
    min-width: 20%;
    width: 20%;
}
.upload_text {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
}
.input_img {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input_button {
    display: inline-block;
    background: var(--button1);
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.7vh;
    font-weight: 700;
    margin-top: 10px;
}
.input_button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--Color3);
}

.display_section {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.create_popup .display_section {
    margin-top: 20px;
}
.display_image {
    width: 85%;
    height: 85%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid var(--Color2);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.action_section {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn_upload, .btn_cancel {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.label_upload {
    white-space: nowrap;
    display: inline-block;
    background-color: indianred;
    color: var(--button1);
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 1.8vh;
    font-weight: bold;
}
.label_upload:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: darkred;
}
.label_cancel {
    white-space: nowrap;
    display: inline-block;
    background-color: var(--Color3);
    color: var(--text1);
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 1.8vh;
    font-weight: bold;
}
.label_cancel:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #8a8a8a;
}
.show_upload {
    display: flex;
}
.hide_upload {
    display: none;
}
.image_details_panel .image_popup {
    margin: auto;
    width: 60%;
    min-width: 650px;
    height: 90%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image_details_panel a {
    text-decoration: none;
    color: var(--text1);
}
.image_popup .display_section {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 2px solid var(--text1);
}
.function_section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}
.function_section .image_header {
    width: 100%;
    height: fit-content;
    min-height: 40px;
}
.function_section .close_img {
    height: 20px;
    display: block;
    margin-top: 15px;
}
.function_section .close_img:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.function_section .image_info {
    width: 90%;
    height: fit-content;
    /*min-height: 30%;*/
    border-bottom: 1px solid var(--text1);
}   
.function_section .owner_info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.function_section .avatar_link {
    width: 50px;
}
.function_section .owner_avatar {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--Color2);
}
.function_section .owner_avatar:hover {
    text-decoration: underline;
    cursor: pointer;
}
.function_section .more_info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.function_section .owner_name {
    font-size: 2.3vh;
    font-weight: 600;
}
.function_section .owner_name:hover {
    text-decoration: underline;
    cursor: pointer;
}
.function_section .upload_time {
    font-size: 1.5vh;
    font-weight: 300;
}
.function_section .image_caption {
    width: 100%;
    height: fit-content;
    min-height: 150px;
    margin-top: 15px;
    font-size: 1.9vh;
    font-weight: 400;
    text-align: justify;
}
.function_section .image_function {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 5px;
}
.function_section .like, .function_section .comment, .function_section .share, .function_section .more {
    height: 100%;
    width: fit-content;
    margin-bottom: 2px;
    cursor: pointer;
}
.function_section .icon {
    /*display: block;*/
    height: 25px;
}
.function_section .icon:hover {
    transform: scale(1.05);
}
.function_section .more {
    margin-left: auto;
}
.function_section .edit_delete {
    background-color: var(--Color1);
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
    width: 100px;
    right: 21%;
    top: 25%;
    position: fixed;
    box-shadow: 0 0 20px var(--Color3);
}
.function_section .edit_delete_function:hover {
    cursor: pointer;
}
.function_section .total_like_comment {
    width: 90%;
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.function_section .total_like {
    width: 50%;
    height: 100%;
    font-size: 2vh;
    font-weight: 500;
}
.function_section .total_comment {
    width: 50%;
    height: 100%;
    font-size: 2vh;
    font-weight: 500;
    text-align: end;
}
.function_section .comment_section {
    width: 90%;
    height: 5%;
    max-height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    margin-bottom: 25px;
}
.function_section .comment_input {
    width: 90%;
    height: 100%;
    border-radius: 15px;
    padding: 5px 0 5px 20px;
    display: block;
}
.function_section .comment_send {
    display: block;
    height: 100%;
    width: auto;
    margin-right: 10px;
}
.function_section .comment_send:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.function_section .comment_list {
    height: 50%;
    width: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}
.function_section .comment_item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.function_section .comment_item .owner_name {
    font-size: 1.8vh;
    font-weight: 600;
}
.function_section .owner_comment {
    font-size: 1.7vh;
    font-weight: 400;
}
.function_section .comment_item .more_info {
    margin-top: 0;
    justify-content: flex-start;
}
.push-notification {
    background-color: var(--Color1);
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #000000;
    padding: 15px 15px 15px 15px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    box-shadow: 4px 4px 4px var(--Color3);
    -webkit-box-shadow: 4px 4px 4px var(--Color3);
    -moz-box-shadow: 4px 4px 4px var(--Color3);
}
.push-submit {
    background-image: url("../../Resources/loading.gif");
}
.push-done {
    background-image: url("../../Resources/check.png");
}
.push-error {
    background-image: url("../../Resources/error.png");
}
.push_icon {
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    vertical-align: middle;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.push_message {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}
.edit_delete .edit, .edit_delete .delete {
    font-weight: 500;
}
.edit_delete .edit:hover, .edit_delete .delete:hover {
    cursor: pointer;
    user-select: none;
}