.navbar {
    position: fixed;
    height: 100vh;
    width: fit-content;
    z-index: 1;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: row;
}
/************************************ MAIN ************************************/
.main_panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 12px;
    background-color: var(--Color1);
    border-right: 1px solid var(--Color3);
    width: 250px;
}
.section_logo {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title {
    padding: 10px;
    width: 80%;
}
.logo {
    display: block;
    width: 20%;
}

.section_function {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.no_underline {
    text-decoration: none;
    width: 100%;
    color: var(--text1);
}
.function {
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s;
    position: relative;
    user-select: none;
}
.function_logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 35px;
    width: 25px;
    transition: 0.2s;
}
.function_img {
    height: 25px;
    width: 25px;
    transition: 0.2s;
}
.function_name {
    margin-left: 15px;
}
.current_function {
    font-weight: bold;
}
.function:hover {
    cursor: pointer;
}
.function:hover, .function_logo {
    transform: scale(1.05);
}

.push-notification {
    background-color: var(--Color1);
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #000000;
    padding: 15px 15px 15px 15px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    box-shadow: 4px 4px 4px var(--Color3);
    -webkit-box-shadow: 4px 4px 4px var(--Color3);
    -moz-box-shadow: 4px 4px 4px var(--Color3);
}
.push-submit {
    background-image: url("../../Resources/loading.gif");
}
.push-done {
    background-image: url("../../Resources/check.png");
}
.push-error {
    background-image: url("../../Resources/error.png");
}
.push_icon {
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    vertical-align: middle;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.push_message {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    .main_panel {
        width: 50px;
    }
    .main_panel .logo {
        margin-top: 20px;
        width: 80%;
    }
    .main_panel .title {
        display: none;
    }
    .main_panel .function_name {
        display: none;
    }
}