/************************************ CREATE ************************************/
.blur {
    overflow: hidden;
    transition:  0.2s;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.create_panel, .image_details_panel, .edit_panel {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create_popup, .image_popup {
    opacity: 0;
    overflow: hidden;
    background-color: var(--Color1);
    box-shadow: 0 0 20px var(--Color3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}
.show_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition: all 0.9s;
}
.show_popup .create_popup {
    min-width: 50%;
    margin: auto;
    width: 30%;
    height: 80%;
    opacity: 1;
}

.create_header {
    min-width: 50%;
    width: 100%;
    height: 8%;
    border-bottom: 1px solid var(--text1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_title {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: var(--text1);
    font-size: 2vh;
    font-weight: 500;
    user-select: none;
}
.close_img {
    right: 15px;
    position: absolute;
    height: 30%;
}
.close_img:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.create_content {
    height: 85%;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.upload_img {
    min-width: 20%;
    width: 20%;
}
.upload_text {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
}
.input_img {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input_button {
    display: inline-block;
    background: var(--button1);
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.7vh;
    font-weight: 700;
    margin-top: 10px;
}
.input_button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--Color3);
}

.display_section {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.create_popup .display_section {
    margin-top: 20px;
}
.display_image {
    width: 85%;
    height: 85%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid var(--Color2);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.action_section {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn_upload, .btn_cancel, .btn_edit {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.label_upload, .label_edit {
    white-space: nowrap;
    display: inline-block;
    background-color: indianred;
    color: var(--button1);
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 1.8vh;
    font-weight: bold;
}
.label_upload:hover, .label_edit:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: darkred;
}
.preview-img .label_upload {
    background-color: cornflowerblue;
}
.preview-img .label_upload:hover {
    background-color: royalblue;
}
.label_cancel {
    white-space: nowrap;
    display: inline-block;
    background-color: var(--Color3);
    color: var(--text1);
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 1.8vh;
    font-weight: bold;
}
.label_cancel:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #8a8a8a;
}
.show_upload_flex {
    display: flex;
}
.show_upload_block {
    display: block;
}
.hide_upload {
    display: none;
}